.wrap-advantages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    padding: 32px 0;
}
.wrap-advantages .advantage {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advantage .wrapper-img {
    margin-right: 10px;
}

.advantage .tag_p  {
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    display: flex;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    margin-bottom: 5px;
    opacity: 1;
}

.advantage .title {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #121212;
    opacity: 0.9;
    margin: 0;
}